<p id="notice"><%= notice %></p>

<h1>Period Has Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Period</th>
      <th>Teacher</th>
      <th>Subject</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miercoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sabado</th>
      <th>Horario clases</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @period_has_subjects.each do |period_has_subject| %>
      <tr>
        <td><%= period_has_subject.period %></td>
        <td><%= period_has_subject.teacher %></td>
        <td><%= period_has_subject.subject %></td>
        <td><%= period_has_subject.lunes %></td>
        <td><%= period_has_subject.martes %></td>
        <td><%= period_has_subject.miercoles %></td>
        <td><%= period_has_subject.jueves %></td>
        <td><%= period_has_subject.viernes %></td>
        <td><%= period_has_subject.sabado %></td>
        <td><%= period_has_subject.horario_clases %></td>
        <td><%= link_to 'Show', period_has_subject %></td>
        <td><%= link_to 'Edit', edit_period_has_subject_path(period_has_subject) %></td>
        <td><%= link_to 'Destroy', period_has_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Period Has Subject', new_period_has_subject_path %>
