<div class="m-b-md">
  <h3 class="m-b-none">Evaluaciones</h3>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="panel panel-default">
      <!-- Encabezado -->
      <header class="panel-heading">listado</header>
      <section class="panel-body">
        <div class="row wrapper">
          <%= link_to 'Nuevo Elemento', new_cal_grade_path, class: 'btn btn-s-md btn-primary pull-left' %>
          <%= link_to cal_grades_path(format: "xls"), class: 'btn btn-info pull-right' do %>
            <i class="fa fa-download"></i>&nbsp; XLS
          <% end %>
          <div class="clreafix"></div>
        </div>
        <% if @grades.present? %>
            <!-- Tabla -->
            <table class="table table-stripped m-b-none">
              <thead>
              <tr>
                <th width="120px" class="text-center">Opciones</th>
                <th>Alumno</th>
                <th>Materia</th>
                <th>Tipo de evaluación</th>
                <th>Calificación</th>
              </tr>
              </thead>
              <tbody>
              <% @grades.each do |item| %>
                  <tr>
                    <td class="text-center">
                      <!-- Boton mostrar -->
                      <%= link_to cal_grade_path(item) do %>
                          <i class="fa fa-eye"></i>
                      <% end %>
                      <!-- Boton editar -->
                      <%= link_to edit_cal_grade_path(item) do %>
                          <i class="fa fa-pencil text-success"></i>
                      <% end %>
                      <!-- Boton eliminar -->
                      <%= link_to cal_grade_path(item), method: :delete, data: { confirm: '¿Estas seguro de eliminar este elemento?' } do %>
                          <i class="fa fa-trash-o text-danger"></i>
                      <% end %>
                    </td>
                    <td><%= item.student_has_subject.student.nombre_completo %></td>
                    <td><%= item.student_has_subject.school_cycle_has_subject.subject.nombre_materia %></td>
                    <td><%= item.grade_type %></td>
                    <td><%= item.calificacion %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <!-- Alert informativo -->
            <div class="alert alert-info fade in alert-dismissable">
              <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
              <strong>Info!</strong> Aun no existen elementos en la base de datos para ser mostrados.
            </div>
        <% end %>
      </section>
    </section>
  </div>
</div>
