<%= form_for(['asig',@school_cycle_has_subject], html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'partials/error_messages', object: @school_cycle_has_subject %>

    <div class="form-group">
      <label class="col-lg-2 col-md-4 col-sm-4 col-xs-6 control-label">Ciclo</label>
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <%= f.select :school_cycle_id, SchoolCycle.all.order(created_at: :desc).map{ |sc| ["#{sc.nombre_ciclo} - #{sc.career.nombre_carrera}", sc.id]}, { prompt: '- Seleccionar -' }, class: 'form-control select2'  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 col-md-4 col-sm-4 col-xs-6 control-label">Maestro</label>
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <%= f.select :teacher_id, Teacher.all.map { |sc| [sc.nombre_completo, sc.id] },{ prompt: '- Seleccionar -' }, class: 'form-control select2' %>
        <%# f.select :teacher_id, Teacher.all.map{ |sc| [sc.nombre_completo, sc.id]}, { prompt: '- Seleccionar -' },class: 'form-control'  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 col-md-4 col-sm-4 col-xs-6 control-label">Materia</label>
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <%= f.select :subject_id, Subject.all.map{ |sc| [sc.nombre_materia, sc.id]}, { prompt: '- Seleccionar -' },class: 'form-control select2'  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 col-md-4 col-sm-4 col-xs-6 control-label">Dias Laborales</label>
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <label class="checkbox-inline">
          <%= f.check_box :lunes %> Lunes
        </label>
        <label class="checkbox-inline">
          <%= f.check_box :martes %> Martes
        </label>
        <label class="checkbox-inline">
          <%= f.check_box :miercoles %> Miercoles
        </label>
        <label class="checkbox-inline">
          <%= f.check_box :jueves %> Jueves
        </label>
        <label class="checkbox-inline">
          <%= f.check_box :viernes %> Viernes
        </label>
        <label class="checkbox-inline">
          <%= f.check_box :sabado %> Sabado
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 col-md-4 col-sm-4 col-xs-6 control-label">Horario de clases</label>
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <%= f.text_field :horario_clases, class: 'form-control' %>
        <p class="help-block">Ingresar las horas separadas por coma, ej. 10:00 - 12:00 hrs, 15:00 - 16:00 hrs.</p>
      </div>
    </div>

    <div class="pull-right">
      <%= f.submit nil, class: 'btn btn-sm btn-primary' %>
    </div>
    <div class="clearfix"></div>
<% end %>
