<%= form_for(['cat',period_has_subject]) do |f| %>
  <% if period_has_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period_has_subject.errors.count, "error") %> prohibited this period_has_subject from being saved:</h2>

      <ul>
      <% period_has_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period_id %>
    <%= f.text_field :period_id %>
  </div>

  <div class="field">
    <%= f.label :teacher_id %>
    <%= f.text_field :teacher_id %>
  </div>

  <div class="field">
    <%= f.label :subject_id %>
    <%= f.text_field :subject_id %>
  </div>

  <div class="field">
    <%= f.label :lunes %>
    <%= f.check_box :lunes %>
  </div>

  <div class="field">
    <%= f.label :martes %>
    <%= f.check_box :martes %>
  </div>

  <div class="field">
    <%= f.label :miercoles %>
    <%= f.check_box :miercoles %>
  </div>

  <div class="field">
    <%= f.label :jueves %>
    <%= f.check_box :jueves %>
  </div>

  <div class="field">
    <%= f.label :viernes %>
    <%= f.check_box :viernes %>
  </div>

  <div class="field">
    <%= f.label :sabado %>
    <%= f.check_box :sabado %>
  </div>

  <div class="field">
    <%= f.label :horario_clases %>
    <%= f.text_field :horario_clases %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
