<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @period_has_subject.period %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @period_has_subject.teacher %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @period_has_subject.subject %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @period_has_subject.lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @period_has_subject.martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @period_has_subject.miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @period_has_subject.jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @period_has_subject.viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @period_has_subject.sabado %>
</p>

<p>
  <strong>Horario clases:</strong>
  <%= @period_has_subject.horario_clases %>
</p>

<%= link_to 'Edit', edit_period_has_subject_path(@period_has_subject) %> |
<%= link_to 'Back', cat_period_has_subjects_cat_path %>
