<!DOCTYPE html>
<html>
  <head>
    <title>System CA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <section class="vbox">
    
    <!-- Navbar -->
    <%= render 'layouts/sections/navbar' %>

    <section>
      <section class="hbox stretch">
        
        <!-- Sidebar -->
        <%= render 'layouts/sections/sidebar' %>
        
        <!-- Body Content -->
        <section id="content">
          <section class="hbox stretch">  
            <section>
              <section class="vbox">
                <section class="scrollable padder">              
                    <%= yield %>
                </section>
              </section>
            </section>
            
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
        
      </section>
    </section>
  </section>
 



  </body>
</html>
